.tm_lcptu_widget_section_inner {
  border: 1px solid $border_color;
  border-top: none;
  overflow: hidden;
  overflow-y: auto;
  padding: 0 10px;
}

.tm_lcptu_extra_options_wrap {
  overflow: hidden;
}